--add-opens=java.base/java.lang=ALL-UNNAMED
--add-opens=java.base/java.util=ALL-UNNAMED
--add-opens=java.base/sun.misc=ALL-UNNAMED
-Djdk.instrument.traceUsage=false
-XX:+EnableDynamicAgentLoading
-Dfile.encoding=UTF-8
-Dsun.stdout.encoding=UTF-8
-Dsun.stderr.encoding=UTF-8
-Djava.awt.headless=true
-Dnet.bytebuddy.experimental=true
